<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Favorites</title>
  </head>
  <body class="body-two">
    <div class="favorites">
      <h1>Favorites</h1>
      <div class="fav-list">
        <% for( let i = 0; i < favorites.length; i++ ) { %> 
        <% let city = favorites[i].location.city %> 
        <% let state = favorites[i].location.state %>
        <h3>
          <a
            href="api/weather/<%= city %>,<%= state %>"
          >
            <%= city %>, <%= state %></a>
        </h3>
        <% } %>
      </div>
    </div>
    <div class="form-links">
      <a href="/api/users/profile">Profile</a> |
      <a href="/api/weather">Weather</a>
    </div>
  </body>
</html>
