<nav>
  <h3><a href="/">Weather Now</a></h3>
  <form class="nav-form">
    <input
      class="nav-search"
      type="text"
      name="search"
      placeholder=" Search places"
    />
    <input class="nav-submit" type="submit" value="submit" />
  </form>
  <h4><a href="#">Favorites</a></h4>
  <h4><a href="#">Logout</a></h4>
</nav>
