<nav>
  <h3><a href="/">Weather Now</a></h3>
  <form class="nav-form" action="/api/weather/search" method="POST">
    <input
      class="nav-search"
      type="text"
      name="search"
      placeholder="Search by zip code"
    />
    <input class="nav-submit" type="submit" value="search" />
  </form>
  <h4><a href="#">Favorites</a></h4>
  <h4><a href="/api/users/logout">Logout</a></h4>
</nav>
