body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-decoration: none;
}

li,
ul {
  list-style: none;
}

span {
  display: none;
}

h1,
h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 a {
  margin: 1.5rem;
}

h3 {
  margin-left: 1rem;
  text-shadow: 1px 1px 1px white;
}

h3 a {
  padding: 5px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.5);
  border-radius: 1rem;
  width: 12rem;
  padding: 1rem;
}

form input {
  margin: 0.5rem;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

form label {
  display: flex;
  margin: 0.5rem;
}

form button {
  margin-top: 1rem;
  padding: 5px;
  cursor: pointer;
  border-radius: 0.3rem;
}

.form-links {
  margin-top: 1rem;
}

textarea {
  border: none;
  border-radius: 5px;
  padding: 5px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  background-color: rgba(211, 211, 211, 0.5);
}

nav h4 a:hover,
h2 a:hover {
  text-decoration: underline;
}

.nav-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px;
  width: 25%;
}

.nav-submit {
  cursor: pointer;
}

.nav-search {
  width: 100%;
}

#map {
  height: 88vh;
  width: 100%;
  border-radius: 5px;
}

.weather {
  display: flex;
}

.popup {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.popup h2 {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0 0.5rem 0;
}

.popup h4 {
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
}

.popup img {
  width: 6rem;
  height: 6rem;
  margin: 1rem 1rem 0 0;
}

.temps {
  display: flex;
  align-items: baseline;
  margin-top: 1.2rem;
}

#temp {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

#app-temp {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
}

#wind,
#rain {
  font-weight: bold;
  color: #00b7ff;
  margin: 0.5rem 0 0 0;
}

#save {
  color: #00b7ff;
  margin: 1rem 0 0 0;
}

#save:hover {
  text-decoration: underline;
}
