body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-decoration: none;
}

li,
ul {
  list-style: none;
}

h1,
h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 a {
  margin: 1.5rem;
}

h3 {
  margin-left: 1rem;
}

h3 a {
  padding: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.5);
  border-radius: 1rem;
  width: 12rem;
  padding: 1rem;
}

form input {
  display: flex;
  margin: 0.5rem;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

form label {
  display: flex;
  margin: 0.5rem;
}

form button {
  margin-top: 1rem;
  padding: 5px;
  cursor: pointer;
  border-radius: 0.3rem;
}

.form-links {
  margin-top: 1rem;
}

textarea {
  border: none;
  border-radius: 5px;
  padding: 5px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  background-color: rgba(211, 211, 211, 0.5);
}

.nav-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px;
  width: 28%;
}

.nav-submit {
  cursor: pointer;
}

.nav-search {
  width: 100%;
}
