body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

h1,
h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 a {
  margin: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.5);
  border-radius: 1rem;
  width: 12rem;
  padding: 1rem;
}

form input {
  display: flex;
  margin: 0.5rem;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

form label {
  display: flex;
  margin: 0.5rem;
}

form button {
  margin-top: 1rem;
  padding: 5px;
  cursor: pointer;
  border-radius: 0.3rem;
}

.form-links {
  margin-top: 1rem;
}

textarea {
  border: none;
  border-radius: 5px;
  padding: 5px;
}

nav {
  display: flex;
  justify-content: space-between;
}
