body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

.body-one {
  margin: 0;
  padding: 0;
}

.body-two {
  background-image: linear-gradient(to right, #00b7ffc0, #ffffff, #00b7ffc0);
}

a {
  color: #0890ff;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-decoration: none;
}

.title {
  background-image: linear-gradient(to bottom, #ffffff80, #00b7ffc0),
    url('../images/world.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
}

#title {
  margin: 9rem 0 0 0;
  padding: 0;
  text-shadow: 2px 2px 1px white;
}

#title-links {
  text-shadow: 1px 1px 1px white;
}

#title-links a {
  color: #2600ff;
}

li,
ul {
  list-style: none;
}

h1,
h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 a {
  margin: 1.5rem;
}

h3 {
  margin-left: 1rem;
  text-shadow: 1px 1px 1px white;
}

h3 a {
  padding: 5px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.5);
  border-radius: 1rem;
  width: 12rem;
  padding: 1rem;
}

form input {
  margin: 0.5rem;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

form label {
  display: flex;
  margin: 0.5rem;
}

form button {
  margin-top: 1rem;
  padding: 5px;
  cursor: pointer;
  border-radius: 0.3rem;
}

.form-links {
  margin-top: 1rem;
}

.form-links a:hover {
  text-decoration: underline;
}

textarea {
  border: none;
  border-radius: 5px;
  padding: 5px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  background-color: rgba(211, 211, 211, 0.5);
}

nav h4 a:hover,
h2 a:hover {
  text-decoration: underline;
}

.nav-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px;
  width: 25%;
}

.nav-submit {
  cursor: pointer;
}

.nav-search {
  width: 100%;
}

#map {
  height: 88vh;
  width: 100%;
  border-radius: 5px;
}

.weather {
  display: flex;
}

.favorites {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorites h1 {
  margin: 1.5rem 0 1rem 0;
  padding: 0;
}

.fav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.5);
  border-radius: 1rem;
  padding: 1rem;
}

.fav-list h3 {
  margin: 1rem;
}

.fav-list h3 a {
  margin: 0;
  padding: 2px;
}

.fav-list h3 a:hover {
  font-size: large;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile h1 {
  z-index: 1;
  text-shadow: 1px 1px 1px white;
  margin: 1.5rem 0 1rem 0;
  padding: 0;
}

.profile img {
  border-radius: 5px;
  box-shadow: 0 0 5rem #2600ff;
}

.profile a {
  font-size: medium;
}

.profile a:hover {
  text-decoration: underline;
}

.profile-info {
  margin: 1rem 0 1.5rem 0;
  background-color: rgba(211, 211, 211, 0.5);
  border-radius: 5px;
  padding: 1rem;
  font-size: medium;
}

.profile-info div {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 2rem 0 0 0;
}

.update-profile {
  display: flex;
  justify-content: space-between;
  width: 30rem;
}

.update-profile form {
  background-color: rgba(211, 211, 211, 0.5);
  border-radius: 5px;
  margin: 0;
  padding: 1rem;
  font-size: medium;
}

.update-profile form fieldset {
  border: none;
}

.update-input {
  cursor: pointer;
}

.update-profile-img {
  display: flex;
  justify-content: center;
}

.change-pass {
  padding: 0;
  margin: 3rem 0 2.5rem 0;
}

.popup {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0.5rem;
}

.popup h2 {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0 0.5rem 0;
}

.popup h4 {
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
}

.popup img {
  width: 6rem;
  height: 6rem;
  margin: 1rem 1rem 0 0;
}

.popup form {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

.popup form button {
  margin: 1rem 0 0 0;
  padding: 2px;
  border: none;
  color: #00b7ff;
}

.popup form button:hover {
  text-decoration: underline;
}

.temps {
  display: flex;
  align-items: baseline;
  margin-top: 1.2rem;
}

#temp {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

#app-temp {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
}

#wind,
#rain {
  font-weight: bold;
  color: #00b7ff;
  margin: 0.5rem 0 0 0;
}

#welcome {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

#welcome p {
  color: white;
  text-shadow: 1px 1px 2px black;
}

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 2px;
}

#home img {
  margin: 0;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
}
